.btn-primary {
  background-color: #4e6ef5 !important;
  border-radius: 30px !important;
  width: 100px;
}
.btn-secondary {
  background-color: #fd6900 !important;
  border-radius: 30px !important;
  width: 100px;
}
.btn-light {
  background-color: transparent !important;
  border-radius: 30px !important;
  padding: 0;
  margin: 0;
}
.btn-danger {
  background-color: #e65b65 !important;
  border-radius: 30px !important;
  width: 100px;
}

input:focus {
  box-shadow: none !important;
  color: #979899 !important;
}
select:focus {
  box-shadow: none !important;
}

textarea:focus {
  box-shadow: none !important;
}

.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-light:focus {
  box-shadow: none !important;
}
.btn-danger:focus {
  box-shadow: none !important;
}
