$primary: #4e6ef5;
$secondary: #fd6900;
$third: #69b4ed;
$fourth: #3d6586;
$five: #6a84f5;
html * {
  font-size: 9 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
}
body {
  background-color: $primary !important;
  width: 100vw;
  height: 100vh;
  font-size: 9 !important;
}

h5 {
  color: $third !important;
}
button {
  background-color: $primary !important;
}

.inputDescription {
  background-color: white !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: start;
  padding: 50px;
  align-items: center;
  input {
    border-radius: 20px;
    width: 100%;
    border-left: none;
    outline: none !important;
    padding: 8px;
    color: #69b4ed;
    font-weight: 300;
  }

  input:focus {
    outline: none !important;
  }
  h1 {
    color: #69b4ed;
  }
  h3,
  h5 {
    color: #71c0f7;
    font-weight: 200 !important;
    padding: 10px !important;
  }
  h5 {
    padding: 0 !important;
  }
}
.banner {
  div h1 {
    font-weight: 500;
    color: white;
  }
}
.buttons {
  margin: 5px;
  display: flex;
  flex-direction: 'row';
  width: 100%;

  .primary {
    background-color: $primary !important;
    margin: 5px;
    border-radius: 20px !important;
    flex: 1;
    border: none;
  }
  .secondary {
    color: #fff;
    border: none;
    background-color: $secondary !important;
    margin: 5px;
    border-radius: 20px !important;
    flex: 1;
  }
  .secondary:hover {
    color: #fff;
    box-shadow: 0px 0px 0px 2px $secondary;
  }
  .primary:hover {
    box-shadow: 0px 0px 0px 2px $primary;
  }
}

.register {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  input {
    border-radius: 20px;
    width: 100%;
    border-left: none;
    outline: none !important;
    padding: 8px;
    color: #69b4ed;
    font-weight: 300;
  }
  select {
    border-radius: 20px;
    border-left: none;
    padding: 8px;
    color: #69b4ed;
    font-weight: 300;
  }

  input:focus {
    outline: none !important;
  }
  h1 {
    color: #69b4ed;
  }
  h3,
  h5 {
    color: #71c0f7;
    font-weight: 200 !important;
    padding: 10px !important;
  }
  h5 {
    padding: 0 !important;
  }
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: background-color ease 0.3s;

  .icon {
    margin-left: 15px;
    display: flex;
    flex: 1;
    font-size: 23px;
    color: #bdc3d8;
  }
  .label {
    display: flex;
    flex: 5;
    font-size: 17px;
    color: #bdc3d8;
  }
}
.navlinks:hover {
  background-color: #6a84f6;
  .label {
    color: #fff;
  }
  .icon {
    color: #fff;
  }
}

.activeLinks {
  background-color: #6a84f6;
  border-radius: 10px;
  .label {
    color: #fff;
  }
  .icon {
    color: #fff;
  }
}

// exit icons
.exitIcon {
  font-size: 30px;
  color: #ff7400;
}

.iconContainer {
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color ease 0.5s;
  margin-right: 20px;
}

.iconContainer:hover {
  background-color: $secondary;
  .exitIcon {
    color: #fff;
  }
}

.alerts {
  animation: slidein 0.7s ease;
  @keyframes slidein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// accounts styles
.accountContainer {
  .account {
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    transition: background-color ease 0.7s;
    animation: showNewAccount ease 0.7s;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .account:hover {
    background-color: $five;
    div h6 {
      color: #fff !important;
    }
    div {
      color: #fff !important;
    }
    .icon {
      color: #fff !important;
    }
  }
}

// create lines on user box

.boxLine {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  border-bottom: 2px solid #f1f1f1;
}

.accountBoxLines {
  display: flex;
  position: relative;
  height: 400px;
  overflow-y: auto;
  flex-direction: column;
  border-bottom: 2px solid #f1f1f1;
}

// add form

.addAccount {
  position: relative;
  border-radius: 0px 0px 30px 30px;
  height: 250px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  animation: addAccountIn 0.7s ease;
  .buttonsAddAccount {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
}

// search
.search {
  display: flex;
  flex: 1;
  outline: none !important;
  border-radius: 30px;
  background-color: #fff;
  align-items: center;
  .inputSearch {
    border: none;
    width: 70%;
    margin-right: 20px;
    padding: 25px;
    font-weight: 300;
    color: $third !important;
  }
}
// notification
.notificationIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  position: relative;

  .notificationIcon {
    color: #979899;
    font-size: 35px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    transition: background-color 1s ease;
  }
}
.containerItemNotification {
  display: flex;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #e0e6ea;
  transition: background-color ease 0.7s;
  cursor: pointer;
}
.containerItemNotification:hover {
  background-color: #d6deff34;
  color: #fff;
}

.notificationPanel {
  width: 350px;
  height: 400px;
  background-color: #f0f3f6;
  box-shadow: 1px 0px 8px -1px rgba(145, 136, 142, 0.315);
  position: absolute;
  top: 100%;
  z-index: 1000;
  right: -20%;
  animation: showNotifications ease 0.7s;

  .notificationTriangleContainer {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    border-bottom: 1px solid #97989946;
  }

  // to set triangle on notification panel
  .notificationTriangleContainer:after {
    content: '';
    position: absolute;
    bottom: 100%;
    margin-left: -50px;
    right: 20px;
    width: 0;
    height: 0;
    border-bottom: solid 10px #fff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
}

// user Profile
.profileContainer {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

//account details
.accountDetails {
  width: 100%;
}
.selectDetails {
  display: flex;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  border-bottom: 1px solid #d6deff34;
  margin-top: 3px;
  margin-bottom: 3px;
  color: $third;
  transition: background-color ease 0.7s;
  font-weight: 600%;
}

.selectDetails:hover {
  background-color: $five;
  color: #fff;
}

// animation add acccount

@keyframes addAccountIn {
  from {
    height: 50px;
    opacity: 0.5;
  }

  to {
    opacity: 1;
    height: 250px;
  }
}
@keyframes showNotifications {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// show new account
@keyframes showNewAccount {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
